*{
  padding: 0;
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(219,21%,16%);
}

.info {
  position: relative;
  top: 100px;
  text-align: center;
}

.info p {
  font-size: 13px;
  color: #ddd;
  font-family: 'Manrope', sans-serif;

}

.info p a {
  color: hsl(150, 100%, 66%);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
